.*.swp
*.o
*.log
dump.rdb
redis-benchmark
redis-check-aof
redis-check-rdb
redis-check-dump
redis-cli
redis-sentinel
redis-server
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
redis.ds
src/redis.conf
src/nodes.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
.make-*
.prerequisites
*.dSYM
Makefile.dep
.idea/**

Makefile
**/Makefile
CMakeFiles/**
CMakeCache.txt
cmake-build-debug/**
cmake_install.cmake
**/CMakeFiles/**
deps/linenoise/liblinenoise.a
deps/lua/liblua.a
redis.cbp

#git update-index --assume-unchanged <files>
#git update-index --assume-unchanged Makefile
#git update-index --assume-unchanged deps/Makefile
#git update-index --assume-unchanged deps/hiredis/Makefile
#git update-index --assume-unchanged deps/linenoise/Makefile
#git update-index --assume-unchanged deps/lua/Makefile
#git update-index --assume-unchanged src/modules/Makefile